---
http_interactions:
- request:
    method: get
    uri: https://api.waqi.info/map/bounds/?latlng=39.379436,116.09123,40.235643,116.784382&token=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - '1685'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","data":[{"lat":39.824,"lon":116.146,"uid":456,"aqi":"57"},{"lat":39.954592,"lon":116.468117,"uid":1451,"aqi":"55"},{"lat":39.876,"lon":116.394,"uid":477,"aqi":"46"},{"lat":40.127,"lon":116.655,"uid":462,"aqi":"36"},{"lat":39.937,"lon":116.461,"uid":451,"aqi":"30"},{"lat":40.002,"lon":116.207,"uid":454,"aqi":"149"},{"lat":39.742,"lon":116.136,"uid":458,"aqi":"61"},{"lat":39.856,"lon":116.368,"uid":479,"aqi":"55"},{"lat":39.518,"lon":116.684,"uid":688,"aqi":"53"},{"lat":39.987,"lon":116.287,"uid":452,"aqi":"50"},{"lat":39.939,"lon":116.483,"uid":48[...]
