---
http_interactions:
- request:
    method: get
    uri: https://api.waqi.info/search/?keyword=bangalore&token=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Gen-Time:
      - '9199'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","data":[{"uid":8190,"aqi":"-","time":{"tz":"+0800","stime":"2016-10-12
        03:00:00","vtime":1476208800},"station":{"name":"BTM, Bangalore, India","geo":[42.909409,129.471868],"url":"india/bangalore/btm"}},{"uid":8191,"aqi":"-","time":{"tz":"+0800","stime":"2016-10-12
        03:00:00","vtime":1476208800},"station":{"name":"BWSSB, Bangalore, India","geo":[42.909409,129.471868],"url":"india/bangalore/bwssb"}},{"uid":3758,"aqi":"-","time":{"tz":"+0800","stime":"2016-10-12
        03:00:00","vtime":1476208800},"station":{"name":"Peenya, Bangalore, India","geo":[42.909409,129.471868],"url":"india/bangalore/peenya"}},{"uid":8687,"aqi":"-","time":{"tz":"+0800","stime":"2016-10-12
        03:00:00","vtime":1476208800},"station":{"name":"SaneguravaHalli, Bangalore,
        India","geo":[42.909409,129.471868],"url":"india/bangalore/saneguravahalli"}},{"uid":8686,"aqi":"-","time":{"tz":"+0800","stime":"2016-10-12
        03:00:00","vtime":1476208800},"station":{"name":"City Railway Station, Bangalore,
        India","geo":[42.909409,129.471868],"url":"india/bangalore/city-railway-station"}}]}'
  recorded_at: Thu, 16 Feb 2017 06:44:02 GMT
recorded_with: VCR 3.0.3
